
.head2{
  color: rgb(24, 24, 135);
}
.header{
 background-color: rgb(24, 24, 135) ;
 color: white ;
}
li.nav-item:hover{  
 color: black;
}

.nav-item .active{
 font-weight: bold;
 color: black !important;
 border-bottom: 2px solid black;
}
.error-label{
 color:red;
 display:inline;
 font-weight:bold;
 font: size 5px;
 margin-left: 35px;
}
button.like-button:hover{
 border: none;

}
.bg-clr{
 background-color: rgb(217, 216, 216)
}
.nav-clr{
 background-color: rgb(51, 51, 58) ;
 color: white ;
}
.sign-img{
 background-image: url(./images/signup3\ \(2\).jpg);

 background-size: cover;
 overflow: hidden;
 height: 100vh;

}
.log-img{
 background-image: url(./images/login4.jpg);
 background-size: cover;
 overflow: hidden;
 height: 100vh;
}
.bg-img{
 background-image: url(./images/home.jpg);
 background-size: cover;
 
 min-height: 100vh;
}
.sign-card{
 background-color: rgba(25, 25, 28, 0.779);
 box-shadow: 3px 3px 10px 2px rgba(250, 249, 249, 0.911);
 margin-top: 100px;
}
.post-card{
 background-color: white;

 margin-top: 20px;
}
.logo{
 font-family:'Lobster' ;
 color: white;
 font-size: 30px;
}

.input_style{
 background-color: rgba(16, 14, 14, 0.833);
 color: white;
 border: none;
 border-bottom: 1px solid white;
 border-radius: 0px;
 outline: none;
 

}
.input_style::placeholder{
 color: white;
 opacity: 1;
 font-weight: bold;
} 
.label-control{
 
 font-weight: bold;
}
.card-size{
 background: linear-gradient(90deg, #e2eaec 0%, #fcfcff 100%);
}
@media only screen and (max-width: 600px) {
  media{
    margin-left: 30px;
  }
}